@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* global.css */
:root {
  --embossed-top-left-shadow: rgba(82,
      82,
      91, 0.15);
  --embossed-bottom-right-shadow: rgb(113,
      113,
      122);

  --dembossed-top-left-shadow: rgba(82,
      82,
      91,
      0.15);
  --dembossed-bottom-right-shadow: rgb(113,
      113,
      122);
}

.dark {
  --embossed-top-left-shadow: rgba(64,
      64,
      64,
      0.25);
  --embossed-bottom-right-shadow: rgb(0,
      0,
      0);

  --dembossed-top-left-shadow: rgba(64,
      64,
      64,
      0.25);
  --dembossed-bottom-right-shadow: rgb(0,
      0,
      0);
}
/* Custom styles for Swiper fraction pagination */
.swiper-pagination-fraction {
    font-weight: bold;
}
@layer components {
    .h1-dark {
        background: linear-gradient(180deg, #ffffff 0%, hsl(0, 0%, 67%) 100%),
            #ffffff;
        background-clip: text;
    }

    .h1-light {
        background: linear-gradient(180deg,
                hsla(224, 71%, 4%, 47%) 0%,
                hsl(224, 71%, 4%) 100%),
            #ffffff;
    }

    .h1 {
        @apply dark:h1-dark h1-light bg-clip-text text-transparent;
    }
}